<div class="container-shoe-header-gif">
  <%= image_tag("shoe_header.gif", class: "shoe-header-gif") %>
</div>
<div class="container-order-succeed">
  <div>订购成功！</div>
  <div>订单创建成功，感谢您的购买！</div>
  <div style="margin-top: 30px;">商品预计于三日内由顺丰快递送达，请保持通讯畅通，祝您生活愉快！</div>
</div>
<div class="container-button-group">
  <%= link_to "再次购买", root_path, class: "btn-buy-again" %>
</div>