<% provide :title, "百变女神官方旗舰店" %>

<div class="container-shoe-header-static">
  <%= image_tag("shoe_header_static.png", class: "shoe-header-static") %>
</div>
<div class="container-order-succeed">
  <div>订购成功！</div>
  <div>订单创建成功，感谢您的购买！</div>
  <div style="margin-top: 30px;">商品预计于三日内由顺丰快递送达，<br/>请保持通讯畅通，祝您生活愉快！</div>
</div>
<div class="container-button-group">
  <%= link_to "再次购买", root_path, class: "btn-buy-again" %>
</div>