<div>
  <span class="mysprites-phone original-dimen"></span>
</div>
<div>
  <span class="mysprites-phone half-dimen"></span>
</div>
<div>
  <span class="mysprites-phone test1"></span>
</div>
<div>
  <span class="mysprites-phone test2"></span>
</div>
<div>
  <span class="mysprites-phone test3"></span>
</div>
<div>
  <span class="mysprites-phone test4"></span>
</div>
<div>
  <span class="mysprites-receiver"></span>
</div>
<div>
  <span class="mysprites-address"></span>
</div>